@media only screen and (max-width: 600px) {
  .hide-on-mobile {
      display: none !important;
  }
  .full-screen-on-mobile {
    width: 100% !important;
    padding: 5px !important;
  }
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}
